.header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 15px;
  user-select: none;
  overflow: hidden;

  .subheader {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-container {
    display: flex;
    margin-right: 35px;
    align-items: center;
    cursor: pointer;

    .menu-icon {
      fill: #21c9e7;
    }
  }
}